<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: d3db9fb4e30a5d6029068495ef6ed1896c7443f7 $ -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:lang="http://www.springframework.org/schema/lang"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mybatis="http://www.mybatis.org/schema/mybatis"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.mybatis.org/schema/mybatis http://www.mybatis.org/schema/mybatis/mybatis-spring.xsd">

  <!-- Transaction manager for a single JDBC DataSource (alternative to JTA) -->
  <!-- <tx:jta-transaction-manager /> -->
  <bean id="transactionManager01" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
    p:dataSource-ref="dataSource01"/>
<!--   <bean id="transactionManager02" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" -->
<!--     p:dataSource-ref="dataSource02"/> -->

  <!-- <aop:aspectj-autoproxy/> -->
  <tx:annotation-driven transaction-manager="transactionManager01"/>
<!--   <tx:annotation-driven transaction-manager="transactionManager02"/> -->

  <!-- Configures the @Service programming model -->
  <context:annotation-config />
  <context:component-scan base-package="com.fcu.gtml.service"/>
  <context:component-scan base-package="com.fcu.gtml.domain"/>
  <context:component-scan base-package="com.fcu.gtml.persistence"/>
  
  <!-- 配置myBatis -->
  <bean id="sqlSessionFactory01" class="org.mybatis.spring.SqlSessionFactoryBean">
  <property name="dataSource" ref="dataSource01"/>
  <property name="configLocation" value="classpath:com/fcu/gtml/mybatis-config.xml"/>
  <!-- <property name="mapperLocations" value="classpath:com/newegg/autopricing/pricecomparison/persistence/*.xml" /> -->
  </bean>
<!--   <bean id="sqlSessionFactory02" class="org.mybatis.spring.SqlSessionFactoryBean"> -->
<!--   <property name="dataSource" ref="dataSource02"/> -->
<!--   <property name="configLocation" value="classpath:com/newegg/autopricing/crawler/mybatis-config.xml"/> -->
  <!-- <property name="mapperLocations" value="classpath:com/newegg/autopricing/crawler/persistence/*.xml,classpath:com/newegg/autopricing/report/persistence/*.xml" /> -->
<!--   </bean> -->
  <bean id="sqlSessionTemplate01" class="org.mybatis.spring.SqlSessionTemplate">
  <constructor-arg index="0" ref="sqlSessionFactory01" />
  <!-- <constructor-arg index="1" value="BATCH" /> -->
  </bean>
<!--   <bean id="sqlSessionTemplate02" class="org.mybatis.spring.SqlSessionTemplate"> -->
<!--   <constructor-arg index="0" ref="sqlSessionFactory02" /> -->
  <!-- <constructor-arg index="1" value="BATCH" /> -->
<!--   </bean> -->

  <!-- scan for mappers and let them be autowired -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <!-- optional unless there are multiple session factories defined 
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory01" />-->
    <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate01" />
    <property name="basePackage" value="com.fcu.gtml.persistence" />
  </bean>
<!--   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> -->
  <!-- optional unless there are multiple session factories defined 
  <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory02" />-->
<!--   <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate02" /> -->
<!--   <property name="basePackage" value="com.newegg.autopricing.crawler.persistence,com.newegg.autopricing.report.persistence" /> -->
<!--   </bean> -->
</beans>
