<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fcu.gtml.persistence.StudentEnrollmentMapper">
<!--      <resultMap type="UserVisitorAccess" id="rm_UserVisitorAccess"> type的值是根據typeAlias來的 -->
<!--         <id     property="id"              column="Id"/> -->
<!--         <result property="timesTemp"       column="Timestemp"     jdbcType="TIMESTAMP" /> -->
<!--         <result property="responseTime"    column="ResponseTime"  jdbcType="INTEGER" javaType="int" /> -->
<!--         <result property="uri"             column="URI" jdbcType="VARCHAR" /> -->
<!--         <result property="clientIdentity"  column="ClientIdentity"  /> -->
<!--      </resultMap> -->
     
     <select id="batchInsert" parameterType="StudentLog">
        INSERT INTO EdX.dbo.StudentLog
           (UserName
           ,EventType
           ,Event
           ,EventSource
           ,ContextUserId
           ,ContextOrgId
           ,ContextSession
           ,ContextCourseId
           ,ContextPath
           ,ContextModuleDisplayName
           ,Time
           ,Page)
     VALUES
           (#{userName}
           ,#{eventType}
           ,#{event, jdbcType=NVARCHAR}
           ,#{eventSource}
           ,#{contextUserId}
           ,#{contextOrgId}
           ,#{contextSession}
           ,#{contextCourseid}
           ,#{contextPath}
           ,#{contextModuleDisplayName, jdbcType=NVARCHAR}
           ,#{time}
           ,#{page})
     </select>
</mapper>
