<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fcu.gtml.persistence.StudentTextBookEventMapper">
<!--      <resultMap type="UserVisitorAccess" id="rm_UserVisitorAccess"> type的值是根據typeAlias來的 -->
<!--         <id     property="id"              column="Id"/> -->
<!--         <result property="timesTemp"       column="Timestemp"     jdbcType="TIMESTAMP" /> -->
<!--         <result property="responseTime"    column="ResponseTime"  jdbcType="INTEGER" javaType="int" /> -->
<!--         <result property="uri"             column="URI" jdbcType="VARCHAR" /> -->
<!--         <result property="clientIdentity"  column="ClientIdentity"  /> -->
<!--      </resultMap> -->
     
     <select id="batchInsertByBook" parameterType="StudentTextBook">
        INSERT INTO EdX.dbo.StudentTextBook
           (UserName
           ,EventType
           ,Type
           ,Old
           ,New
           ,Chapter
           ,Name
           ,Time)
     VALUES
           (#{userName}
           ,#{eventType}
           ,#{type}
           ,#{old}
           ,#{textBookNew}
           ,#{chapter}
           ,#{name}
           ,#{time})
     </select>
</mapper>
