<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
  <typeAlias alias="TrackingStatistics" type="com.fcu.gtml.edx.domain.TrackingStatistics"/>
  <typeAlias alias="TrackingStatisticsByPie" type="com.fcu.gtml.edx.domain.TrackingStatisticsByPie"/>
  <typeAlias alias="TrackingStatisticsByMonth" type="com.fcu.gtml.edx.domain.TrackingStatisticsByMonth"/>
  <typeAlias alias="TrackingCourse" type="com.fcu.gtml.edx.domain.TrackingCourse"/>
  <typeAlias alias="EdXTrackingLog" type="com.fcu.gtml.edx.domain.EdXTrackingLog"/>
</typeAliases>
<typeHandlers>
    <typeHandler handler="com.fcu.gtml.edx.mybatis.type.CharTypeHandler"
      jdbcType="CHAR" />
    <typeHandler handler="com.fcu.gtml.edx.mybatis.type.NCharTypeHandler"
      jdbcType="NCHAR" />
    <typeHandler handler="com.fcu.gtml.edx.mybatis.type.NVarcharTypeHandler"
      jdbcType="NVARCHAR" />
</typeHandlers>
<plugins>
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
        <!-- config params as the following -->
        <property name="param1" value="value1"/>
    </plugin>
</plugins>
</configuration>