<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
  <Appenders>
    <!-- ***************************** -->
    <!-- ALL                           -->
    <!-- ***************************** -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %c [%t] %m%n" />
    </Console>
    <RollingRandomAccessFile name="DataImporterFile" fileName="logs/DataImporterFile.log" filePattern="logs/$${date:yyyy-MM}/DataImporterFile-%d{yyyy-MM-dd_HH}-%i.log.gz">
      <PatternLayout charset="utf-8">
        <Pattern>%d %p %c{1} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="AllFile" fileName="logs/all.log" filePattern="logs/$${date:yyyy-MM}/all-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="ErrFile" fileName="logs/err.log" filePattern="logs/$${date:yyyy-MM}/err-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c [%t] %m%n</Pattern>
      </PatternLayout>
      <Filters>
        <ThresholdFilter level="warn"/>
      </Filters>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <!-- All -->
    <Logger name="com.fcu.gtml.process" level="info" additivity="false">
      <AppenderRef ref="DataImporterFile" />
      <AppenderRef ref="ErrFile" />
<!--       <AppenderRef ref="Console" /> -->
    </Logger>
    <Root level="info">
      <AppenderRef ref="DataImporterFile" />
      <AppenderRef ref="ErrFile" />
    </Root>
  </Loggers>
</Configuration>