<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
  <typeAlias alias="Products" type="com.newegg.autopricing.angular.domain.Products"/>
</typeAliases>
<typeHandlers>
    <typeHandler handler="com.newegg.autopricing.angular.mybatis.type.CharTypeHandler"
      jdbcType="CHAR" />
    <typeHandler handler="com.newegg.autopricing.angular.mybatis.type.NCharTypeHandler"
      jdbcType="NCHAR" />
    <typeHandler handler="com.newegg.autopricing.angular.mybatis.type.NVarcharTypeHandler"
      jdbcType="NVARCHAR" />
  </typeHandlers>
</configuration>